.console-warp {
    position: absolute;
    top: 0;


}

.console-drawer {
    .ant-drawer-body {
        display: flex;

        .operation {
            border: black 1px solid;
            height: 100%;
            flex: 1;
        }

        .displayer {
            border: black 1px solid;
            height: 100%;
            flex: 1;
        }
    }
}