.homeItem {
    .ant-card-meta-description {
        display: flex;
    }
    .ant-card {
        border-radius: 10px;
        box-shadow: 0 0 12px 0px grey;
        img {
            border-radius: 10px 10px 0 0;
        }
    }
    
}