@import '~antd/dist/antd.css';

.App {
    .layout {
        width: 100%;
        min-height: 100vh;

        .header {
            min-height: 2vh;
            color: #fff;
            text-align: center;
            font-size: 30px;
            font-family: 'SilkscreenNormal';
        }

        .content {
            min-height: 80vh;
            width: 95%;
            margin: 20px auto;
            background-color: #fff;
            padding: 0 10px 10px 10px;
            .main {
                position: relative;
            }

            .ant-page-header {
                padding: 10px !important;
            }
        }

        .footer {
            min-height: 2vh;
            text-align: center;
        }
    }
}