@import '~antd/dist/antd.css';

.App {
    .layout {
        width: 100%;
        min-height: 100vh;
        // display: flex;
        // flex-direction: column;

        .header {
            min-height: 2vh;
            color: #fff;
            text-align: center;
            font-size: 30px;
            font-family: 'SilkscreenNormal';
        }

        .content {
            // flex-grow: 1;
            min-height: 80vh;
            width: 95%;
            margin: 30px auto;
            background-color: #fff;
            padding: 10px;
            // display: flex;
            // flex-direction: column;

        }

        .footer {
            min-height: 2vh;
            text-align: center;
        }
    }
}